#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #222;
}

.react-title{
  color: #fff

}


@media (max-width: 768px) {
  .react-title {
    font-size: 2.5rem; 
  }
  .react-logo {
    width: 48px; 
    height: 48px; 
  }

  footer strong {
    flex-direction: column; 
    align-items: center; 
  }

  footer span {
    margin-bottom: 8px; 
  }
}